[Desktop Entry]
Type=Application
Exec=/bin/sh /usr/share/games/CLV-Z-HRADG/hradg.sh
Path=/var/lib/clover/profiles/0/CLV-Z-HRADG
Name=Hakchi RetroArch Debugger
Icon=/usr/share/games/CLV-Z-HRADG/CLV-Z-HRADG.png

[X-CLOVER Game]
Code=CLV-Z-HRADG
TestID=777
ID=0
Players=1
Simultaneous=0
ReleaseDate=2018-01-01
SaveCount=0
SortRawTitle=hakchiretroarchdebugger
SortRawPublisher=SWINGFLIP
Copyright=hakchi2 ©2018 Ryan 'Swingflip' Hamlin
