[Desktop Entry]
Type=Application
Exec=/bin/sh /usr/share/games/CLV-Z-HUSBP/chmod_usb.sh
Path=/var/lib/clover/profiles/0/CLV-Z-HUSBP
Name=Hakchi Toggle Write Access on USB
Icon=/usr/share/games/CLV-Z-HUSBP/CLV-Z-HUSBP.png

[X-CLOVER Game]
Code=CLV-Z-HUSBP
TestID=777
ID=0
Players=1
Simultaneous=0
ReleaseDate=2018-01-01
SaveCount=0
SortRawTitle=hakchienablewriteaccessonusb
SortRawPublisher=SWINGLFLIP
Copyright=hakchi2 ©2017 DanTheMan827
